body {
    background-color :#EAF6f6;
}
hr{
   border-color: grey;
   border-style: dotted none none  ;
   border-width: 10px;
   width: 5%;
}
img {
    height: 200px;
}
h1 {
    color: #66BFBF;
}
h3 {
    color:#C9BBCF ;
}
